@keyframes lds-wedges {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-wedges {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-wedges {
    position: relative;
}

.lds-wedges>div>div {
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
    -webkit-animation: lds-wedges 3s linear infinite;
    animation: lds-wedges 3s linear infinite;
    opacity: 0.8;
}

.lds-wedges>div>div>div {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 70px 0 0 0;
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
}

.lds-wedges>div div:nth-child(1)>div {
    background: #f05125;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.lds-wedges>div div:nth-child(1) {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}

.lds-wedges>div div:nth-child(2)>div {
    background: #fdb813;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.lds-wedges>div div:nth-child(2) {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.lds-wedges>div div:nth-child(3)>div {
    background: #7fbb42;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.lds-wedges>div div:nth-child(3) {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.lds-wedges>div div:nth-child(4)>div {
    background: #32a0da;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.lds-wedges>div div:nth-child(4) {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.lds-wedges {
    width: 54px !important;
    height: 54px !important;
    margin: 0 auto;
    -webkit-transform: translate(-27px, -27px) scale(0.27) translate(27px, 27px);
    transform: translate(-27px, -27px) scale(0.27) translate(27px, 27px);
}