.liNav{
	padding-top: 10px;
}

.liMargin{
	margin-right: 5px;
}

.btnRight{
	float:right;
}

.headerBottom{
	padding-bottom:20px;
	text-align: center;
}

.titlePanel{
	font-size: 20px;
	margin-top:5px;
}

.panelMargin{
	margin-top: 10px;
}

.ul-well{
	list-style: none;
}

.img-cre{
	width: 100px;
}

.color-red{
	color: #c35252;
}

#txtConentOld{
	resize: vertical;
	overflow-y: scroll;
}

.img{
	height: 20px !important;
}